
.env
.env.local
.env.*.local

__pycache__/
*.py[cod]
venv/
*.egg-info/
Pipfile
Pipfile.lock
poetry.lock


*.log
logs/


.streamlit/


.ipynb_checkpoints/


.DS_Store
Thumbs.db


.vscode/
.idea/
*.swp


.qodo
